/*  your css code here. If applicable */
table{
	border: 1px solid black;
	letter-spacing: 1px;
	border-collapse: collapse;
	width: 100%;
}
td{
	border: 1px solid black;
	padding: 1px;
	height:16px;
}

.center{
	text-align:center;
}

.right{
	text-align:right;
}

.t-image{
	margin:auto;
}